.hero-section{
    padding: 137px 0px;
    background-image: url("../assets/herobackground.png");
    background-repeat: repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}